* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

div input {
  border: none;
  font-style: italic;
  font-size: 1rem;
  width: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li input {
  margin-right: 15px;
  height: 20px;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
}

li.on-edit {
  background-color: rgb(253, 227, 178);
}

div input:focus {
  outline: none;
}

div input::placeholder {
  font-size: 1rem;
}

#container {
  margin-top: 10%;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 0;
  box-shadow:
    4px 6px 6px 2px rgb(214, 214, 214),
    -4px 6px 6px 2px rgb(214, 214, 214);
}

div,
li {
  padding: 1rem 1.1rem 0.8rem;
  border-bottom: 1px solid rgb(223, 223, 223);
}

#container div {
  display: flex;
  justify-content: space-between;
}

img {
  height: 1rem;
}

.checkmark {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 16px;
  border: 2px solid #eee;
  flex-shrink: 0;
}

li:hover .checkmark,
.checkmark.darken {
  border: 2px solid #a8a8a8;
}

li .checkmark.checked {
  border: none;
}

.checkmark::after {
  content: "";
  display: none;
}

li .checkmark::after {
  position: relative;
  top: 2px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid rgb(17, 127, 253);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark.checked::after {
  display: block;
}

#clear {
  background-color: #f1f1f1;
  padding: 1.2rem;
}

button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
}

#clear button {
  margin: auto;
  color: #808080;
  font-family: 'Roboto', sans-serif;
}

button.hidden {
  display: none;
}
